<a href="https://colab.research.google.com/github/Sweetmonee/DataAnalytics/blob/main/t3_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import pandas as pd
# pd = pd.read_csv("/kaggle/input/bigdatacertificationkr/high_blood_pressure.csv")

# your code
import pandas as pd
hbp_df = pd.read_csv('/kaggle/input/bigdatacertificationkr/high_blood_pressure.csv')

## 풀이

In [ ]:
import pandas as pd
from scipy import stats
df = pd.read_csv("/kaggle/input/bigdatacertificationkr/high_blood_pressure.csv")

df['diff'] = df['bp_post'] - df['bp_pre']

#1
print(round(df['diff'].mean(),2))

#2
st, pv = stats.ttest_rel(df['bp_post'], df['bp_pre'], alternative="less")
print(round(st,4))

#3
print(round(pv,4))

#4 귀무가설 기각, 대립가설 채택

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

-6.12
-3.0002
0.0016

In [ ]:
df

       Id     sex  age  bp_pre  bp_post  diff
0    p001    Male   33     149      129   -20
1    p002    Male   39     168      168     0
2    p003    Male   70     176      155   -21
3    p004  Female   41     169      178     9
4    p005    Male   48     160      126   -34
..    ...     ...  ...     ...      ...   ...
115  p116    Male   70     173      129   -44
116  p117    Male   75     153      157     4
117  p118  Female   79     156      143   -13
118  p119  Female   40     182      172   -10
119  p120  Female   41     142      168    26

[120 rows x 6 columns]

## 주어진 데이터는 고혈압 환자 치료 전후의 혈압이다. 해당 치료가 효과가 있는지 대응(쌍체)표본 t-검정을 진행하시오
- 귀무가설(H0): $\mu$ >= 0
- 대립가설(H1): $\mu$ < 0
- $\mu$ = (치료 후 혈압 - 치료 전 혈압)의 평균
- 유의수준: 0.05

1. $\mu$의 표본평균은?(소수 둘째자리까지 반올림)
2. 검정통계량 값은?(소수 넷째자리까지 반올림)
3. p-값은?(소수 넷째자리까지 반올림)
4. 가설검정의 결과는? (유의수준 5%)

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

df = pd.read_csv('/kaggle/input/bigdatacertificationkr/high_blood_pressure.csv')
print(df)
df['diff'] = df['bp_post'] - df['bp_pre']
print(df)
answer1 = df['diff'].mean()#- 이므로 post가 더 작음
t_stats, p_value = stats.ttest_rel(df['bp_post'],df['bp_pre'], alternative = 'less')
answer2 = t_stats
answer3 = p_value
answer4 = '귀무가설을 기각한다'
print(round(answer1,2),round(answer2,4),round(answer3,4),answer4)

       Id     sex  age  bp_pre  bp_post
0    p001    Male   33     149      129
1    p002    Male   39     168      168
2    p003    Male   70     176      155
3    p004  Female   41     169      178
4    p005    Male   48     160      126
..    ...     ...  ...     ...      ...
115  p116    Male   70     173      129
116  p117    Male   75     153      157
117  p118  Female   79     156      143
118  p119  Female   40     182      172
119  p120  Female   41     142      168

[120 rows x 5 columns]
       Id     sex  age  bp_pre  bp_post  diff
0    p001    Male   33     149      129   -20
1    p002    Male   39     168      168     0
2    p003    Male   70     176      155   -21
3    p004  Female   41     169      178     9
4    p005    Male   48     160      126   -34
..    ...     ...  ...     ...      ...   ...
115  p116    Male   70     173      129   -44
116  p117    Male   75     153      157     4
117  p118  Female   79     156      143   -13
118  p119  Female   40     182      172   -10
119  p120  Female   41     142      168    26

[120 rows x 6 columns]
-6.12 -3.0002 0.0016 귀무가설을 기각한다

[풀이영상](https://bit.ly/3HnIBN7)

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [ ]:
df = pd.read_csv('/kaggle/input/bigdatacertificationkr/high_blood_pressure.csv')
df

       Id     sex  age  bp_pre  bp_post
0    p001    Male   33     149      129
1    p002    Male   39     168      168
2    p003    Male   70     176      155
3    p004  Female   41     169      178
4    p005    Male   48     160      126
..    ...     ...  ...     ...      ...
115  p116    Male   70     173      129
116  p117    Male   75     153      157
117  p118  Female   79     156      143
118  p119  Female   40     182      172
119  p120  Female   41     142      168

[120 rows x 5 columns]

In [ ]:
df['difference'] = df['bp_post'] - df['bp_pre']
df

       Id     sex  age  bp_pre  bp_post  difference
0    p001    Male   33     149      129         -20
1    p002    Male   39     168      168           0
2    p003    Male   70     176      155         -21
3    p004  Female   41     169      178           9
4    p005    Male   48     160      126         -34
..    ...     ...  ...     ...      ...         ...
115  p116    Male   70     173      129         -44
116  p117    Male   75     153      157           4
117  p118  Female   79     156      143         -13
118  p119  Female   40     182      172         -10
119  p120  Female   41     142      168          26

[120 rows x 6 columns]

In [ ]:
#뮤의 표본평균은? 소수점 둘째짜리 반올림
print(round(df['difference'].mean(), 2))

-6.12

In [ ]:
#2. 검정통계량 값은?(소수 넷째자리까지 반올림)
st, pv = stats.ttest_rel(df['bp_post'],df['bp_pre'],alternative = 'less')
print(round(st, 4))

-3.0002

In [ ]:
#3. p-값은?(소수 넷째자리까지 반올림)
print(round(pv, 4))
stats.ttest_rel

0.0016